::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #808080!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #808080!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #808080!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #808080!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #808080!important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #808080!important;
}

.custom-file-label::after {
   content: "Buscar" !important;
   background-color: #189ec4;
 }
.img-adjustment{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.kcosas{
   margin-top: 80px;
}